HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/application.properties

/Storage

# Pasta de armazenamento local
Storage/
A:/

A:\DeJavan\spaced-repetition-ai\Storage

# Arquivos de sistema do macOS e Windows
.DS_Store
Thumbs.db

# Arquivos gerados pelo Maven
/target/

# Arquivos do IntelliJ e VS Code
.idea/
.vscode/

# Logs
*.log

